*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: #4361ee;
}

div{
    width: 80%;
    background-color: grey;
    padding-left: 10px;
    border-radius: 17px;
}

h2{
    padding-bottom: 10px;
}

h1{
    padding-top: 10px;
}

input{
    border: 1px solid white;
    width: 300px;
    font-size: 20px;
    height: 30px;
    padding-left: 10px;
    border-radius: 7px;
    outline: none;
}

button{
    display: block;
    margin-top: 20px;
    width: 150px;
    border-radius: 10px;
    font-size: 25px;
    background-color: #fca311;
    border: 1px solid #fca311;
}

button:hover{
    transform: scale(1.2);
    transition: 0.2s;
    margin-left: 15px;
}

button a{
    text-decoration: none;
    color: black;
}