*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: #457b9d;
}

h1{
    background-color: #a3b18a;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
}

button a{
    text-decoration: none;
    color: black;
}

button{
    background-color: #f77f00;
    transform: scale(1.5);
    margin-left: 25px;
    border-radius: 7px;
    border: 1px solid #f77f00;
}

button:hover{
    transform: scale(1.7);
    margin-left: 30px;
    transition: 0.2s;
}